.Pagination {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}

.Pagination button {
    color: black;
    float: left;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

.Pagination button:not([disabled]):hover{
    background-color: rgba(0, 0, 255, 0.05);
}

.Pagination button.active {
    color: blue;
}